<h1> Show all goals </h1>
    <ul>
        <% @goals.each do |goal| %>
        <li>
        <%= link_to goal.name, goal_path(goal) %>
        </li>
        <%= link_to "Delete", goal, method: :delete, data: { confirm: "Really?" } %>
    </ul>
  <% end %>

    <br><br><%= link_to "New Goal", new_goal_path %>

