<h1>Destination</h1>

<h2> <%= @destination.location %> </h2>
<p> <%= @destination.description %> </p>

<%= link_to "Edit Destination", edit_destination_path(@destination) %><br>
<%= link_to "All Destinations", destinations_path %>